<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="ca92b9">  <td>20/04/27 10:33:41</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;anothertryreport.beforetest()[pri:0, instance:tutsproject.anothertryreport@5a63f509]">&gt;&gt;beforetest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1932831450</td>   <td></td> </tr>
<tr bgcolor="ca92b9">  <td>20/04/27 10:33:47</td>   <td>5509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="anothertryreport.TestcaseOne()[pri:0, instance:tutsproject.anothertryreport@5a63f509]">TestcaseOne</td> 
  <td>main@1932831450</td>   <td></td> </tr>
<tr bgcolor="ca92b9">  <td>20/04/27 10:33:50</td>   <td>8542</td> <td>&nbsp;</td><td title="&lt;&lt;anothertryreport.aftertest()[pri:0, instance:tutsproject.anothertryreport@5a63f509]">&lt;&lt;aftertest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1932831450</td>   <td></td> </tr>
</table>
