<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>tutsproject.launchingpromo</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>TestcaseFive</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestcaseTwo</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestcaseOne</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestcaseThree</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>TestcaseFour</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>before</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>aftermethod</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>after</td>
<td>&nbsp;</td></tr>
</table>
